extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content
	a.back_link(href='/logout') Выход
	!= ' | ' + session.login
	.title ЗВЕЗДОЧЕТ
	.main_menu_block
		br
		b Пользователи:
		a(href='/auth/users')= ' редактировать'
		br
		br
		b Категории:
		a(href='/auth/categorys')= ' редактировать'
		br
		br
		b Лекции:
		a(href='/auth/themes')= ' редактировать'
		br
		br
		b Разное:
		a(href='/auth/other')= ' редактировать'