extends ../layout
include ../globals

block paths
	- var content_title= 'Школа Опойцева — Об авторе'
	- var content_description= 'Опойцев Валерий Иванович - доктор физико-математических наук профессор МФТИ гл. н. с. ИПУ РАН'
	- var menu_current = 2

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)

block content
	.author_desc_column.left
		.author_desc.title
			| читает лекции, ведёт уроки
			br
			| и пишет «конспекты»
		.author_desc.name
			| Опойцев
			br
			| Валерий Иванович
		.author_desc.big
			| доктор физико-математических наук
			br
			|профессор МФТИ
			br
			|гл. н. с. ИПУ РАН
		.author_desc.books
			.a_books книги Валерия Опойцева
			br
			| изданы URSS под псевдонимом
			br
			| В. Босс

	.author_desc_column.right
		img.author_photo(src='/images/design/backgrounds/iam.jpg')
		br
		.content_desc
			p Сайт «Школа Опойцева» ориентирован на решение фундаментальных задач школьного и высшего физико-математического образования:
			ul
				li краткое и понятное изложение предметов
				li обеспечение быстрого вхождения в дисциплину
				li понимание сути, обнажение структуры, виденье рельефа
				li преодоление психологических барьеров, мешающих обучению
				li расширение кругозора
				li вскрытие внутренних резервов
			p Занятия проходят в дружественной обстановке, поднимают настроение и вселяют уверенность. Лекции и сопровождающие тексты взаимно дополняют друг друга.
			p Названия разделов, как правило, говорят сами за себя, но с некоторыми – имеет смысл ознакомиться в первую очередь. Это:
			ul
				li: a(href='/lecture/4kR9y-_h') Преамбула
				li: a(href='/lecture/41ty6O1Ml') Не боги горшки обжигают
			p Особое внимание стоит обратить на беседы (после прослушивания вышеназванных):
			ul
				li: a(href='/lecture/EJIQ0ld2') О взаимодействии сознания с подсознанием
				li: a(href='/lecture/N1bxkZ_n') О гипнотическом вирусе
				li: a(href='/lecture/Ey3z7U_n') Стратегия и тактика
				li: a(href='/lecture/4k3YXLd2') Великая роль игрушечных задач
			p Школьные уроки сконцентрированы на обычных темах: уравнения, неравенства, функции и их графики. Серьёзное внимание уделяется текстовым задачам, моделированию. Почётные места занимают теория вероятностей и математический анализ. В геометрии и тригонометрии выделены стержневые направления. Всё это сопровождается дополнительным материалом, содействующим общему развитию. Физика излагается в расчёте на школьников и студентов первых курсов одновременно. Из построения занятий видно, что это обогащает обе стороны.
			p Что касается высшей математики, то здесь предлагаются небольшие курсы с упором на освоение базисных понятий и достижение ясности в отношении взаимодействия «ингредиентов». Главное внимание уделяется дисциплинам «первого круга»:
			ul
				li Дифференциальное и интегральное исчисление
				li Линейная алгебра
				li Дифференциальные уравнения
				li Теория вероятности
				li Оптимизация
			p Но изложение идёт и по второму кругу вплоть до ТФКП и Топологии, в которые закладываются удобоваримые сценарии, пригодные, в том числе, для самообразования.
		.content_desc.hidden
			br
			+bookItem(null, 'В. Босс. Интуиция и математика.', '5-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=190580')
			.books_separator В. БОСС. ЛЕКЦИИ ПО МАТЕМАТИКЕ
			+bookItem('том 1.', 'Анализ.', '5-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=182035')
			+bookItem('том 2.', 'Дифференциальные уравнения.', '4-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=202075')
			+bookItem('том 3.', 'Линейная алгебра.', '4-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=182034')
			+bookItem('том 4.', 'Вероятность - Информация - Статистика.', '4-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=189770')
			+bookItem('том 5.', 'Функциональный анализ.', '3-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=166484')
			+bookItem('том 6.', 'Алгоритмы, логика, вычислимость. От Диофанта до Тьюринга и Геделя.', '3-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=171689')
			+bookItem('том 7.', 'Оптимизация.', '4-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=194775')
			+bookItem('том 8.', 'Теория групп.', '3-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=185772')
			+bookItem('том 9.', 'ТФКП.', '2-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=106735')
			+bookItem('том 10.', 'Перебор и эффективные алгоритмы.', '3-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=185773')
			+bookItem('том 11.', 'Уравнения математической физики.', '3-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=170148')
			+bookItem('том 12.', 'Контрпримеры и парадоксы.', '2-е изд. испр.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=170840')
			+bookItem('том 13.', 'Топология.', '2-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=180220')
			+bookItem('том 14.', 'Теория чисел.', '2-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=180201')
			+bookItem('том 15.', 'Нелинейные операторы и неподвижные точки.', '2-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=180756')
			+bookItem('том 16.', 'Теория множеств. От Кантора до Коэна.', '2-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=179187')
			.books_separator В. БОСС. ЛЕКЦИИ ПО ТЕОРИИ УПРАВЛЕНИЯ
			+bookItem('том 1.', 'Автоматическое регулирование.', '2-е изд.', 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=166388')
			+bookItem('том 2.', 'Оптимальное управление.', null, 'http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=184301')