extends ../../layout
include ../forms.jade

block title
	title ДОБАВИТЬ МАТЕРИАЛ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/add.js')


block content
	.form_block
		a.back_link(href='/auth') < Назад
		.title ДОБАВИТЬ МАТЕРИАЛ
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Заголовок:
			input.form_text(type='text', name='title')
			.form_title Описание:
			textarea.editor(name='description')
			.form_title Порядок:
			select(name='order')
				each option, i in theme.studys
					option(value=i)= i
				option(value=theme.studys.length, selected=true)= theme.studys.length
			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden')
			| скрыть
			.form_title Категории:
			+form_multiple_select('categorys', categorys)
			.form_title Видео YouTube:
			input.form_text.video(type='text', name='video')
			.form_title Файлы PDF:
			+form_multiple_files('attach', 'attach_desc[]')
			br
			input(type='submit', value='отправить')