extends ../../layout

block title
	title МАТЕРИАЛЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title МАТЕРИАЛЫ
	br
	a.add(href='/auth/themes/' + theme_id + '/sub/edit/' + sub_theme_id + '/studys/add') добавить материал
	br
	br
	.main_menu_block
		each study in studys
			.study
				a.rm_lecture(href='#', id=study._id)= 'удалить '
				!=' | '
				a(href='/auth/themes/' + theme_id + '/sub/edit/' + sub_theme_id + '/studys/edit/' + study._id)= study.title