extends ../layout

block title
	title= 'Школа Опойцева / Лекции'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/studys.css' + version)
	style.
		.menu_block a:nth-child(1) {color: rgb(237, 70, 47);}

block content_scripts
	script(type='text/javascript', src='/build/js/studys.js' + version)

block content
	.content_title_block
		a.current(href='#') математика
		a(href='#') физика
		a(href='#') экономика
		a(href='#') история
		a(href='#') социология
		a(href='#') биология
	.content_body_block
		.column_left_block
			a.current(href='#') 1 - алгебра
			a(href='#') 2 - геометрия
			a(href='#') 3 - числа, множества, операции
			a(href='#') 4 - функции и графики
			a(href='#') 5 - проблемы бесконечности
			a(href='#') 6 - некоторые универсальные идеи и методы
			a(href='#') 7 - основы матанализа
			a(href='#') 8 - азы векторного исчисления
			a(href='#') 9 - алгоритмы и вычисления
			a(href='#') 10 - комбинаторика, вероятность, статистика
			a(href='#') 11 - тригонометрия
			a(href='#') 12 - уравнения и неравенства
		.column_main_block
			+contentItem(1.1, 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')
			+contentItem(1.1, 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')
			+contentItem(1.1, 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')
			+contentItem(1.1, 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')

