- var version = '?ver=1'
meta(charset="utf-8")
link(href='/images/design/favicon.png', rel='shortcut icon', type='image/vnd.microsoft.icon')
block title
link(rel='stylesheet', type='text/css', href='/build/libs/css/social-likes_birman.css' + version)
link(rel='stylesheet', type='text/css', href='/build/libs/css/fonts.css' + version)
link(rel='stylesheet', type='text/css', href='/build/css/global.css' + version)
link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
block content_style
	- var version = '?ver=1'
script(type='text/javascript', src='/build/libs/js/jquery-2.1.4.min.js' + version)
script(type='text/javascript', src='/build/libs/js/social-likes.min.js' + version)
script(type='text/javascript', src='/build/js/global.js' + version)
block content_scripts
	- var version = '?ver=1'