doctype html
html
	head
		include globals
		block paths
		include header
	body
		.preview_block
		.menu_block
			.menu_inner
				.logo Школа Опойцева
				.menu_search
					input.search_input(type='text', placeholder='Поиск...')
					.search_results
				.menu_right
					a.search(href='#'): img(src='/images/design/icons/search.svg')
					a(href='#'): img(src='/images/design/icons/mail.svg')
					//- a(href='#'): img(src='img/icons/fb.svg')
					//- a(href='#'): img(src='img/icons/vk.svg')
				.menu_themes
					+themes_scroll(themes)(home=true)
		.search_block
		.content_block
			block content
		//- include counters