doctype html
html
	head
		include globals
		block paths
		include header
	body
		.preview_block: .preview_inner
			.preview_video
			.preview_pdf
		.menu_block
			.menu_inner
				.logo Школа Опойцева
				.menu_search
					input.search_input(type='text', placeholder='Поиск...')
				if session.user_id
					.menu_stargazer
						a(href='/auth') звездочет
						a(href='/logout') выход
				.menu_right
					a.share(href='#')
					a.search(href='#')
				.right_drop
					a.mail(href='/write')
					a.fb(href='https://www.facebook.com/shkola.opoytseva', target='_blank')
					a.vk(href='https://vk.com/oshkola', target='_blank')
				.menu_themes
					+themes_scroll(themes)(menu=true)
		.search_results: .search_inner
			.search_title Что будем искать?
			.search_items
			.search_nav: .nav_inner
				.nav_item.all.current все
				.nav_item.lectures лекции и уроки
				.nav_item.other разное
				.categorys_block: .categorys_inner
		.content_block
			block content
		//- include counters