doctype html
html
	head
		include globals
		block paths
		include header
	body
		.preview_block
		.menu_block
			.menu_inner
				.logo Школа Опойцева
				.menu_search
					input.search_input(type='text', placeholder='Поиск...')
				.menu_right
					a.search(href='#'): img(src='/images/design/icons/search.svg')
					a.mail(href='#'): img(src='/images/design/icons/mail.svg')
					//- a(href='#'): img(src='/images/design/icons/fb.svg')
					//- a(href='#'): img(src='/images/design/icons/vk.svg')
				.menu_themes
					+themes_scroll(themes)(home=true)
		.search_results: .search_inner
			.search_title Что будем искать?
			.search_items
			.search_nav: .nav_inner
				.nav_item.all.current все
				.nav_item.lectures лекции и уроки
				.nav_item.other разное
				.categorys_block: .categorys_inner
		.content_block
			block content
		//- include counters