ul
	list-style none
	margin 0
	padding 0
	li
		padding-left 1em
		text-indent -.7em
		margin-bottom 5px
		&:before
			content '─'
			margin-right 5px

.content_block
	overflow hidden

.author_photo
	width 100%
	display block

.author_desc_column
	width 470px
	float left
	margin-right 30px
	&:last-child
		margin-right 0px
	.author_desc
		margin-top 25px
		&.title
			font-style italic
		&.name
			font 18pt/20pt 'Georgia'
		&.big
			font 14pt/16pt 'Georgia'