ul
	list-style none
	margin 0
	padding 0
	li
		padding-left 0.8em
		text-indent -.7em
		margin-bottom 5px
		&:before
			content '─'
			margin-right 5px

.content_block
	overflow hidden

.author_photo
	width 100%
	display block

.author_desc_column
	float left
	margin-right 30px
	&.left
		width 220px
	&.right
		width 720px
	.content_desc
		&.hidden
			display none
	&:last-child
		margin-right 0px
	.author_desc
		.a_books
			cursor pointer
			display inline
			color #939598
			text-decoration none
			font 14pt/16pt 'GillSans'
			&.clicked
				color #EF3925
			&:hover
				color #EF3925
		margin-bottom 20px
		&.title
			font-size 11pt
			line-height 12pt
			font-style italic
		&.name
			font 18pt/20pt 'Georgia'
		&.big
			font 12pt/14pt 'Georgia'

.books_separator
	font 16pt/18pt 'Georgia'
	margin-bottom 20px
	margin-top 20px

.book_item
	margin-bottom 10px
	.book_pref
		margin-right 10px
	.book_name
		font 14pt/16pt 'Georgia'
		margin-right 5px
		text-decoration none
		color black
		&:hover
			color #EF3925
	.book_post
		font-style italic