b
	font-size 16px

a
	color black
	font-size 16px

.content_block
	width 1200px
	padding-left 40px
	padding-right 40px
	padding-bottom 40px
	height auto
	margin 65px auto

.head_title_block
	color black

.form_block
	position relative

input, textarea, select
	font-size 16px

textarea.form_text
	height 200px
	resize vertical
	border-color lightgrey

.form_text
	width 940px

.wysiwyg-toolbar-icon
	color black

.wysiwyg-container
	width 943px
	min-height 300px
	.wysiwyg-editor a
		color grey
		&:hover
			color #EF3925

.title
	margin-top 30px
	margin-bottom 30px
	font-size 20pt

.main_menu_block
	a
		display inline-block
		margin-bottom 12px
	hr
		border none
		border-top 1px solid #000

.form_title
	margin-top 15px
	margin-bottom 15px
	font-size 14pt
	clear both

.form_section
	margin-left 10px
	margin-top 20px
	margin-bottom 20px
	font 14pt/14pt 'Times'
	font-weight bold

.nav_forms select, .nav_forms input
	font-size 11pt
	min-width 64px
	margin 0

.spacer
	display inline-block
	width 10px
	text-align center
	margin-right 5px
	font-size 12pt

.tickets_list
	display none
	margin-left 40px