.item_themes
	max-width 1200px
	overflow hidden
	height 265px
	.themes_outer
		max-width 1200px
		overflow hidden
		height 250px
		padding-bottom 20px
		-webkit-overflow-scrolling: touch;
		.themes_inner
			white-space nowrap
			vertical-align top
			display inline-block
			font-size 0
			.theme
				vertical-align top
				font-size 0
				display inline-block
				width 200px
				height 250px
				margin-right 70px
				text-decoration none
				&.home
					.theme_numb
						background none
						background-position center
						background-size cover
						background-repeat no-repeat
						background-image url('/images/design/icons/home.svg')
					.theme_title
						margin-left 40px
				&.other .theme_numb
					background-position center
					background-size cover
					background-repeat no-repeat
					background-image url('/images/design/icons/other.svg')
				.theme_numb
					background-color grey
					overflow hidden
					width 200px
					height 200px
					font 264pt/126pt 'Georgia'
					color black
					.numb_inner
						margin-left -22px
				.theme_title
					color #939598
					white-space normal
					margin-top 10px
					font 20pt/22pt 'GillSans Light'
					transition color .2s ease-in-out
				&:hover .theme_title
					transition color .2s ease-in-out
					color #c33825
				&:last-child
					margin-right 0px

// -- Title block

.content_title_block
	width 970px
	overflow hidden
	a
		color grey
		font 22pt/24pt 'GillSansLight'
		float left
		margin-right 25px
		display block
		text-decoration none
		transition color .2s ease-in-out
		&:hover
		&.current
			transition color .2s ease-in-out
			color #c33825

// -- Boby block

html, body, .content_block, .content_body_block, .column_left_block
	height 100%

.content_body_block
	margin 0 auto
	max-width 1240px
	padding-right 40px
	position relative
	// background-color #f0edf2
	.column_left_block
		width 340px
		background-color black
		position fixed
		overflow hidden
		-webkit-overflow-scrolling: touch;
		z-index 9
		.left_inner
			padding-top 80px
			padding-right 40px
			padding-left 40px
			padding-bottom 40px
		a
		.nav_item
			cursor pointer
			display block
			color rgb(147, 149, 152)
			text-decoration none
			font 14pt/16pt 'GillSans'
			margin-bottom 15px
			transition color .2s ease-in-out
			&:hover
			&.current
				transition color .2s ease-in-out
				color #c33825
	.column_main_block
		margin-left 340px
		.main_inner
			padding-top 80px
			padding-left 40px
			// padding-right 40px
			padding-bottom 40px
			hyphens auto


// -- Item block

.content_item_block
	padding-bottom 25px
	text-decoration none
	display block
	overflow hidden
	&:hover
		.item_title
			transition color .2s ease-in-out
			color #c33825
	.item_body
		color black
		text-decoration none
		.item_title
			font 18pt/20pt 'Georgia'
			margin-bottom 10px
			overflow hidden
			transition color .2s ease-in-out
			hyphens none
	.item_links
		margin-top 10px
		overflow hidden
		float left
	.item_counters
		padding-top 20px
		display block
		float right

.link
	float left
	margin-right 15px
	cursor pointer
	display block
	background-size contain
	background-repeat no-repeat
	&.video
		width 35px
		height 35px
		background-image url('/images/design/icons/play.svg')
	&.pdf
		width 30px
		height 35px
		background-image url('/images/design/icons/pdf.svg')
	.tooltip
		display none
		color grey
		background-color lightgrey
		padding 3px 5px 3px 5px
	&:hover
		.tooltip
			display block
			position fixed
			overflow hidden