.error_title
  font 80pt/82pt 'GillSans Light'
  color #939598;

.error_s_title
  font 16pt/18pt 'GillSans'
  color #939598;

.content_block
	width 180px
	height 200px
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	position absolute