@media screen and (orientation:portrait) {
	.preview_inner {
		width 100%!important
		height 50%!important
	}

	.preview_pdf {
		padding-left 10px!important
		padding-right 10px!important
	}
}

@media (max-width: 900px) {

	// main

	.menu_inner {
		padding-top 5px!important
		padding-bottom 0px!important
		padding-left 10px!important
		padding-right 10px!important
	}
	.logo, .search_input {
		font 18pt/20pt 'Georgia'!important
	}
	.menu_right {
		margin-top 1px!important
	}
	.right_drop {
		clear both!important
		float none!important
		text-align center!important
		display none!important
	}
	.right_drop.active {
		display block!important
	}
	.share {
		display inline-block!important
	}
	.content_item {
		padding-top 20px!important
	}
	.item_title {
		font 18pt/20pt 'Georgia'!important
		margin-bottom 20px!important
	}

	.photo_inner {
		height 350px!important
	}

	.photo_desc {
		padding-left 10px!important
		padding-right 10px!important
		padding-top 10px!important
		padding-bottom 10px!important
		font 10pt/14pt 'GillSans'!important
	}

	.content_body {
		top 350px!important
		padding-left 10px!important
		padding-right 10px!important
	}

	.item_themes {
		height 245px!important
		margin-left -10px!important
		margin-right -10px!important
	}
	.themes_outer {
		overflow-x scroll!important
		height 245px!important
	}
	.theme {
		width 180px!important
		height 200px!important
		margin-right 0px!important
		margin-left 30px!important
	}
	.theme_numb {
		width 180px!important
		height 180px!important
		font 240pt/110pt 'Georgia'!important
	}
	.theme:first-child {
		margin-left 10px!important
	}
	.theme:last-child {
		margin-right 10px!important
	}

	.item_desc img {
		margin-top 10px!important
		margin-bottom 10px!important
	}

	.item_desc .section {
		width 100%!important
		left 0!important
		padding-left 0px!important
		padding-right 0px!important
	}

// search

	.search_inner, .nav_inner {
		padding-left 10px!important
		padding-right 10px!important
	}

// study

	.study_block {
		padding-left 10px!important
		padding-right 10px!important
	}

// global

	.panel_open {
		display block
	}

	.content_body_block, .column_main_block {
		margin-left 0px!important
		padding-left 0px!important
		padding-right 0px!important
	}

	.column_left_block {
		width 100%!important
		display none!important
		overflow scroll!important
	}

	.content_body_block.open .column_left_block {
		display block!important
	}

	.main_inner, .left_inner {
		padding-left 10px!important
		padding-right 10px!important
	}


}