.content_body_block
	max-width 1280px
	padding-right 0px

.column_main_block
	position relative
	.main_inner
		padding-top 37px!important
		padding-left 0px!important
		padding-right 0px!important
		.study_video
			margin-top 13px
			max-width 900px
			.video_inner
				position relative
				padding-bottom 56.25% /* 16:9 */
				padding-top 0px
				height 0
				.video
					position absolute
					top 0
					left 0
					width 100%
					height 100%
		.study_block
			padding-left 40px
			padding-right 40px
			.study_title
				hyphens none
				font 24pt/26pt 'Georgia'
				margin-top 30px
				margin-bottom 30px
			.study_description
				margin-top 20px
			.study_body
				position relative
			.study_meta
				overflow hidden
				padding-top 15px
				.study_counters
					float right
					margin-top 11px
				.study_links
					float left