.column_main_block
	position relative
	.study_block
		width 720px
		.study_title
			font 18pt/20pt 'Georgia'
			margin-bottom 10px
		.study_description
			margin-bottom 20px
		.study_body
			&.video
				.study_counters
					margin 0
					position absolute
					top 415px
					left 750px
				.study_links
					position absolute
					left 750px
					.link
						margin-bottom 15px
						&.pdf
							width 40px
							height 48px

.study_counters
	float right
	margin-top 11px
.study_links
	float left
	.link
		cursor pointer
		display block
		background-size cover
		background-repeat no-repeat
		&.pdf
			width 30px
			height 35px
			background-image url('/images/design/icons/pdf.svg')
		.tooltip
			display none
			color grey
			background-color lightgrey
			padding 3px 5px 3px 5px
		&:hover
			.tooltip
				display block
				position fixed
				overflow hidden