input
textarea
	outline none
	border none
	display block
	font 14pt/16pt 'Georgia'
	border-radius 0;
	padding 0

.form_email
.form_theme
	width 748px
	font 16pt/18pt 'Georgia'
	margin-bottom 20px
	border-bottom 1px solid rgb(147, 149, 152);
	width 100%

.form_description
	margin-top 40px
	overflow hidden
	padding-bottom 160px

.description_input
	height auto
	overflow hidden
	outline none
	width 100%
	min-height 200px

.description_form
	display none

.description_input[placeholder]:empty:before {
	content: attr(placeholder);
	color: rgb(147, 149, 152);
}

.description_input[placeholder]:empty:focus:before {
	content: "";
}

.form_inner
	max-width 1200px
	position relative
	margin 0 auto
	padding-top 80px
	padding-left 40px
	padding-right 40px

.panel_block
	position fixed
	width 100%
	bottom 0
	background-color black
	.panel_inner
		max-width 1200px
		margin 0 auto
		padding-top 20px
		padding-bottom 20px
		padding-left 40px
		padding-right 40px
		overflow hidden
		.form_file
			position relative
			display inline-block
			float left
			width 60px
			height 60px
			background-image url('/images/design/icons/plus.svg')
			background-position center
			background-size contain
			.file
				-webkit-appearance: none;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom 0
				margin auto;
				opacity: 0;
				width 60px
				height 60px
		.form_submit
			float right
			width 60px
			height 60px
			background-color white
