extends ../../layout

block title
	title ТЕМЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title ТЕМЫ
	br
	a.add(href='/auth/themes/add') добавить тему
	br
	br
	.main_menu_block
		each theme in themes
			.theme
				a.rm_theme(href='#', id=theme._id)= 'удалить '
				!=' | '
				a(href='/auth/themes/' + theme._id + '/edit')= theme.title
				!=' --> '
				a(href='/auth/themes/' + theme._id + '/sub') подтемы