extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ КАТЕГОРИЮ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/css/add.js')

block content
	.form_block
		a.back_link(href='/auth/categorys') < Назад
		.title РЕДАКТИРОВАТЬ КАТЕГОРИЮ
		form(action="", method="post")
			.form_title Заголовок:
			input(type='text', name='title', value=category.title)
			br
			br
			input(type='submit', value='отправить')