extends ../../../layout
include ../../forms.jade

block title
	title ДОБАВИТЬ ПОДТЕМУ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')


block content
	.form_block
		a.back_link(href='/auth/themes') < Назад
		.title ДОБАВИТЬ ПОДТЕМУ
		form(action="", method="post")
			.form_title Заголовок:
			input.form_text(type='text', name='title')
			.form_title Нумерация:
			input(type='checkbox', name='numb', value='hidden')
			| скрыть
			.form_title Порядок:
			select(name='order')
				each option, i in parent_theme.sub
					option(value=i)= i
				option(value=parent_theme.sub.length, selected=true)= parent_theme.sub.length
			br
			br
			input(type='submit', value='отправить')