include ../globals

each study, i in studys
	+contentItem(parseDate(study.date), study.title, study.description)(type='other_item', href='/other/' + study._short_id, video=study.video, files=study.files)