extends ../layout

block title
	title= 'Школа Опойцева / Разное'
	- var menu_current = 3

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/other.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/other.js' + version)

block content
	.content_body_block
		.column_left_block
			a.current(href='#') все
			a(href='#') стихи
			a(href='#') тексты
			a(href='#') школьникам
			a(href='#') студентам
		.column_main_block
			+contentItem('22.01.1991', 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')
			+contentItem('22.01.1991', 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')
			+contentItem('22.01.1991', 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')
			+contentItem('22.01.1991', 'О взаимодействии сознания с подсознанием', 'Подсознание (англ. subconsciousness) — устаревший термин, применявшийся для обозначения психических процессов, протекающих без отображения их в сознании и помимо сознательного управления. В науку термин введён в 1889 году Пьером Жане в философской диссертации. Позже он развил его в медицинской диссертации «Психический мир истериков» («L’at mental des hystr- iques» 1892). Одновременно следует отметить, что современные дискуссии о подсознательном берут начало в 1869 году, когда немецкий философ Эдуард фон Гартман опубликовал “Философию подсознательного”.')

